# Django
SECRET_KEY=django-insecure-cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
MEDIA_ROOT=./media
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Base de datos (por defecto db.sqlite3 en el directorio del proyecto)
# DB_PATH=/app/data/db.sqlite3
