.content {
  padding-top: calc(var(--header-height) + 2 * var(--space-md));
  padding-left: calc(var(--sidebar-width-collapsed) + 2 * var(--space-lg));
  min-height: 100vh;
}

@media (max-width: 768px) {
  .content {
    padding-left: calc(60px + 2 * var(--space-sm));
  }
}
